:root {
    --headerfont: calc(1rem + 5vw);
    --description: 15px;
}


*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.background{
    width: 100%;
    height: 100vh;
   
}

.user {
    display: flex;
    justify-content: flex-end;
}

button {
    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: 12px;
    font-weight: bold;
    margin-top: 0%;
    margin-right: 3%;
    cursor: pointer;
}

.container {
    width: 50%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(86,86,86,0.3);
    backdrop-filter: blur(10px);
    position: absolute;
    top: 0;
    left: 0;
}

.info{
    width: 550px;
    color: #fff;
   
}

.info h1 {
    font-size: var(--headerfont);
    margin-left: 3%;
    letter-spacing: 10px;
}

.info p{
    color: #f0eef1;
    font-size: var(--description);
    margin: 20px 0;
    line-height: 18px;
    margin-left: 2.5%;
}

.info start-button {
    padding: 8px 25px;
    background: transparent;
    outline: none;
    border: 2px solid #fff;
    border-radius: 20px;
    color: #fff;
    font-size: var(--description);
    font-weight: bold;
    margin-top: 2%;
    cursor: pointer;
}

.slider{
    display: flex;
    align-items: center;
    position: absolute;
    right: 30px;
    bottom: 50px;
}

#prev, #next{
    width: 20px;
    cursor: pointer;
}

/* slider */

img{
    width: 200px;
    height: 200px;
}
.slider .slider-item{
    display: none;
    animation: reveal .5s ease-in-out;
}
  .slider .slider-item.active {
    display: block;
  }
  .slider .dots {
    text-align: center;
    padding: 10px;
  }
  .slider .dots li {
    cursor: pointer;
    display: inline-block;
    background: #333;
    color: #fff;
    padding: 7px 11px;
    line-height: .5;
    border-radius: 50%;
    text-indent: -9999px;
    opacity: .5;
    -webkit-transition: opacity .2s;
    -o-transition: opacity .2s;
    transition: opacity .2s;
  }
  .slider .dots li.active{
    opacity: 1;
  }
  @keyframes reveal{
    from{
      opacity: 0;
    }
    to{
      opacity: 1;
    }
  }




